<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>No autorizado</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Ruta no válida</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
@inject ApiClient _client   
@code {
    protected override async Task OnInitializedAsync()
    {
        // _client.GetAsync.ChangeRol(1, 0);
        // _userRepository.ChangeState(1, 1);
        await base.OnInitializedAsync();
    }

}
