@page "/Users"
@using CuentaVotos.Core.Account;
@inject UsersList Model;

<h3>Users</h3>

@if (Model.Users == null)
{
    <p>Cargando....</p>
}
else
{
    if (Model.Users.Count == 0)
    {
        <p>No hay datos</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var item in Model.Users)
            {
                <li class="list-group-item">@item.FirstName @item.LastName @item.Codigo @item.Id @item.Email @item.PhoneNumber @item.Addres</li>
            }
        </ul>

    }
}

@code {

    public void Load()
    {
        Model.Load();
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        Model.Load();
    }
}
